// facebook open graph tags
meta(property="og:type" content="website")
meta(property="og:url" content=url)
meta(property="og:title" content=title)
meta(property="og:description" content=description)
// meta(property="og:image" content=frog2x)

// twitter card tags (stack with og: tags)
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@pketh")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
// meta(name="twitter:image" content=frog2x)
// meta(name="twitter:image:alt" content="A frog with feelings")
meta(name="twitter:url" content=url)
